{
    "openapi": "3.0.0",
    "info": {
        "title": "Bling API",
        "description": "A sessão abaixo contém a documentação das API's que o Bling disponibiliza.",
        "version": "3.0"
    },
    "servers": [
        {
            "url": "https://api.bling.com.br/Api/v3",
            "description": "Ambiente de produção"
        },
        {
            "url": "https://developer.bling.com.br/api/bling",
            "description": "Ambiente de teste da documentação"
        }
    ],
    "paths": {
        "/": {},
        "/anuncios/categorias": {
            "get": {
                "tags": [
                    "Anúncios - Categorias"
                ],
                "summary": "Obtém categorias de anúncios",
                "description": "Obtém categorias de anúncios.",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/tipoIntegracao"
                    },
                    {
                        "$ref": "#/components/parameters/idLojaQuery"
                    },
                    {
                        "name": "idCategoria",
                        "in": "query",
                        "description": "ID da categoria",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "example": 10
                        }
                    },
                    {
                        "name": "tipoProduto",
                        "in": "query",
                        "description": "Tipo do produto",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "example": "eletronico"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/AnunciosCategoriaDTO"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    }
                },
                "x-api-resource": "AnunciosCategorias",
                "x-api-action": "ObterMultiplos"
            }
        },
        "/anuncios/categorias/{idCategoria}": {
            "get": {
                "tags": [
                    "Anúncios - Categorias"
                ],
                "summary": "Obtém uma categoria de anúncio",
                "description": "Obtém uma categoria de anúncio pelo ID.",
                "parameters": [
                    {
                        "name": "idCategoria",
                        "in": "path",
                        "description": "ID da categoria no marketplace (ex.: Mercado Livre)",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "example": "MLB1430"
                        }
                    },
                    {
                        "$ref": "#/components/parameters/tipoIntegracao"
                    },
                    {
                        "$ref": "#/components/parameters/idLojaQuery"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "$ref": "#/components/schemas/AnunciosGetAttributesFromCategoryResponseDTO"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    }
                },
                "x-api-resource": "AnunciosCategorias",
                "x-api-action": "Obter"
            }
        },
        "/anuncios": {
            "get": {
                "tags": [
                    "Anúncios"
                ],
                "summary": "Obtém anúncios",
                "description": "Obtém anúncios paginados.",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/pagina"
                    },
                    {
                        "$ref": "#/components/parameters/limite"
                    },
                    {
                        "name": "situacao",
                        "in": "query",
                        "description": "Situação do anúncio <br> `1` Publicado <br> `2` Rascunho <br> `3` Com problema <br> `4` Pausado",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "default": 1,
                            "enum": [
                                1,
                                2,
                                3,
                                4
                            ]
                        }
                    },
                    {
                        "name": "idProduto",
                        "in": "query",
                        "description": "ID do produto",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "example": 12345
                        }
                    },
                    {
                        "$ref": "#/components/parameters/tipoIntegracao"
                    },
                    {
                        "$ref": "#/components/parameters/idLojaQuery"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "$ref": "#/components/schemas/AnunciosGetAllResponseDTO"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    }
                },
                "x-api-resource": "Anuncios",
                "x-api-action": "ObterMultiplos"
            },
            "post": {
                "tags": [
                    "Anúncios"
                ],
                "summary": "Cria um anúncio",
                "description": "Cria um anúncio.",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/AnunciosSaveRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "$ref": "#/components/schemas/AnunciosSaveResponseDTO"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    }
                },
                "x-api-resource": "Anuncios",
                "x-api-action": "Criar"
            }
        },
        "/anuncios/{idAnuncio}": {
            "get": {
                "tags": [
                    "Anúncios"
                ],
                "summary": "Obtém um anúncio",
                "description": "Obtém os detalhes de um anúncio específico pelo seu ID.",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/idAnuncio"
                    },
                    {
                        "$ref": "#/components/parameters/tipoIntegracao"
                    },
                    {
                        "$ref": "#/components/parameters/idLojaQuery"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "$ref": "#/components/schemas/AnunciosGetByIdResponseDTO"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    }
                },
                "x-api-resource": "Anuncios",
                "x-api-action": "Obter"
            },
            "put": {
                "tags": [
                    "Anúncios"
                ],
                "summary": "Altera um anúncio",
                "description": "Altera um anúncio pelo ID.",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/idAnuncio"
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/AnunciosSaveRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "204": {
                        "description": "No content."
                    },
                    "400": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    }
                },
                "x-api-resource": "Anuncios",
                "x-api-action": "Alterar"
            },
            "delete": {
                "tags": [
                    "Anúncios"
                ],
                "summary": "Remove um anúncio",
                "description": "Remove um anúncio pelo ID.",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/idAnuncio"
                    },
                    {
                        "$ref": "#/components/parameters/tipoIntegracao"
                    },
                    {
                        "$ref": "#/components/parameters/idLojaQuery"
                    }
                ],
                "responses": {
                    "204": {
                        "description": "No content."
                    },
                    "400": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    }
                },
                "x-api-resource": "Anuncios",
                "x-api-action": "Remover"
            }
        },
        "/anuncios/{idAnuncio}/publicar": {
            "post": {
                "tags": [
                    "Anúncios"
                ],
                "summary": "Publica um anúncio",
                "description": "Altera o status do anúncio para publicado.",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/idAnuncio"
                    },
                    {
                        "$ref": "#/components/parameters/tipoIntegracao"
                    },
                    {
                        "$ref": "#/components/parameters/idLojaQuery"
                    }
                ],
                "responses": {
                    "204": {
                        "description": "No content."
                    },
                    "400": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    }
                },
                "x-api-resource": "Anuncios",
                "x-api-action": "Publicar"
            }
        },
        "/anuncios/{idAnuncio}/pausar": {
            "post": {
                "tags": [
                    "Anúncios"
                ],
                "summary": "Pausa um anúncio",
                "description": "Altera o status do anúncio para pausado.",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/idAnuncio"
                    },
                    {
                        "$ref": "#/components/parameters/tipoIntegracao"
                    },
                    {
                        "$ref": "#/components/parameters/idLojaQuery"
                    }
                ],
                "responses": {
                    "204": {
                        "description": "No content."
                    },
                    "400": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    }
                },
                "x-api-resource": "Anuncios",
                "x-api-action": "Pausar"
            }
        },
        "/borderos/{idBordero}": {
            "get": {
                "tags": [
                    "Borderôs"
                ],
                "summary": "Obtém um borderô",
                "description": "Obtém um borderô pelo ID.",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/idBordero"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "$ref": "#/components/schemas/BorderosDadosDTO"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    }
                },
                "x-api-resource": "Borderos",
                "x-api-action": "Obter"
            },
            "delete": {
                "tags": [
                    "Borderôs"
                ],
                "summary": "Remove um borderô",
                "description": "Remove um borderô pelo ID.",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/idBordero"
                    }
                ],
                "responses": {
                    "204": {
                        "description": "No content."
                    },
                    "400": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    }
                },
                "x-api-resource": "Borderos",
                "x-api-action": "Remover"
            }
        },
        "/campos-customizados/modulos": {
            "get": {
                "tags": [
                    "Campos Customizados"
                ],
                "summary": "Obtém módulos que possuem campos customizados",
                "description": "Obtém módulos que possuem campos customizados.",
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "allOf": [
                                                    {
                                                        "$ref": "#/components/schemas/CamposCustomizadosModuloBaseDTO"
                                                    },
                                                    {
                                                        "$ref": "#/components/schemas/CamposCustomizadosModuloDTO"
                                                    }
                                                ]
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "x-api-resource": "CamposCustomizados",
                "x-api-action": "ObterModulosCamposCustomizados"
            }
        },
        "/campos-customizados/tipos": {
            "get": {
                "tags": [
                    "Campos Customizados"
                ],
                "summary": "Obtém tipos de campos customizados",
                "description": "Obtém tipos de campos customizados.",
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "allOf": [
                                                    {
                                                        "$ref": "#/components/schemas/CamposCustomizadosTipoBaseDTO"
                                                    },
                                                    {
                                                        "$ref": "#/components/schemas/CamposCustomizadosTipoDTO"
                                                    }
                                                ]
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "x-api-resource": "CamposCustomizados",
                "x-api-action": "ObterTiposCamposCustomizados"
            }
        },
        "/campos-customizados/modulos/{idModulo}": {
            "get": {
                "tags": [
                    "Campos Customizados"
                ],
                "summary": "Obtém campos customizados por módulo",
                "description": "Obtém campos customizados por módulo paginados.",
                "parameters": [
                    {
                        "name": "idModulo",
                        "in": "path",
                        "description": "",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "example": "12345678"
                        }
                    },
                    {
                        "$ref": "#/components/parameters/pagina"
                    },
                    {
                        "$ref": "#/components/parameters/limite"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/CamposCustomizadosDadosBaseDTO"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "x-api-resource": "CamposCustomizados",
                "x-api-action": "ObterMultiplos"
            }
        },
        "/campos-customizados/{idCampoCustomizado}": {
            "get": {
                "tags": [
                    "Campos Customizados"
                ],
                "summary": "Obtém um campo customizado",
                "description": "Obtém um campo customizado pelo ID.",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/idCampoCustomizado"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "type": "object",
                                            "allOf": [
                                                {
                                                    "$ref": "#/components/schemas/CamposCustomizadosDadosBaseDTO"
                                                },
                                                {
                                                    "$ref": "#/components/schemas/CamposCustomizadosDadosEdicaoDTO"
                                                },
                                                {
                                                    "$ref": "#/components/schemas/CamposCustomizadosDadosDTO"
                                                }
                                            ]
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    }
                },
                "x-api-resource": "CamposCustomizados",
                "x-api-action": "Obter"
            },
            "put": {
                "tags": [
                    "Campos Customizados"
                ],
                "summary": "Altera um campo customizado",
                "description": "Altera um campo customizado pelo ID.",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/idCampoCustomizado"
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "allOf": [
                                    {
                                        "$ref": "#/components/schemas/CamposCustomizadosDadosBaseDTO"
                                    },
                                    {
                                        "$ref": "#/components/schemas/CamposCustomizadosDadosEdicaoDTO"
                                    }
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "type": "object",
                                            "allOf": [
                                                {
                                                    "$ref": "#/components/schemas/BasePostResponse"
                                                },
                                                {
                                                    "$ref": "#/components/schemas/CamposCustomizadosResponse_POST_PUT"
                                                }
                                            ]
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    }
                },
                "x-api-resource": "CamposCustomizados",
                "x-api-action": "Alterar"
            },
            "delete": {
                "tags": [
                    "Campos Customizados"
                ],
                "summary": "Remove um campo customizado",
                "description": "Remove um campo customizado pelo ID.",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/idCampoCustomizado"
                    }
                ],
                "responses": {
                    "204": {
                        "description": "No content."
                    },
                    "404": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    }
                },
                "x-api-resource": "CamposCustomizados",
                "x-api-action": "Remover"
            }
        },
        "/campos-customizados": {
            "post": {
                "tags": [
                    "Campos Customizados"
                ],
                "summary": "Cria um campo customizado",
                "description": "Cria um campo customizado.",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "allOf": [
                                    {
                                        "$ref": "#/components/schemas/CamposCustomizadosDadosBaseDTO"
                                    },
                                    {
                                        "$ref": "#/components/schemas/CamposCustomizadosDadosEdicaoDTO"
                                    },
                                    {
                                        "$ref": "#/components/schemas/CamposCustomizadosDadosDTO"
                                    }
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "type": "object",
                                            "allOf": [
                                                {
                                                    "$ref": "#/components/schemas/BasePostResponse"
                                                },
                                                {
                                                    "$ref": "#/components/schemas/CamposCustomizadosResponse_POST_PUT"
                                                }
                                            ]
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    }
                },
                "x-api-resource": "CamposCustomizados",
                "x-api-action": "Criar"
            }
        },
        "/campos-customizados/{idCampoCustomizado}/situacoes": {
            "patch": {
                "tags": [
                    "Campos Customizados"
                ],
                "summary": "Altera a situação de um campo customizado",
                "description": "Altera a situação de um campo customizado pelo ID.",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/idCampoCustomizado"
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "situacao": {
                                        "description": "`0` Inativo <br> `1` Ativo",
                                        "type": "integer",
                                        "enum": [
                                            0,
                                            1
                                        ],
                                        "example": 1
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "204": {
                        "description": "No content."
                    },
                    "400": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    }
                },
                "x-api-resource": "CamposCustomizados",
                "x-api-action": "AlterarSituacao"
            }
        },
        "/categorias/lojas": {
            "get": {
                "tags": [
                    "Categorias - Lojas"
                ],
                "summary": "Obtém categorias de lojas virtuais vinculadas a de produtos",
                "description": "Obtém categorias de lojas virtuais vinculadas a de produtos paginadas.",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/pagina"
                    },
                    {
                        "$ref": "#/components/parameters/limite"
                    },
                    {
                        "name": "idLoja",
                        "in": "query",
                        "description": "ID da loja",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "example": 12345678
                        }
                    },
                    {
                        "name": "idCategoriaProduto",
                        "in": "query",
                        "description": "ID da categoria do produto",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "example": 12345678
                        }
                    },
                    {
                        "name": "idCategoriaProdutoPai",
                        "in": "query",
                        "description": "ID da categoria do produto pai",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "example": 12345678
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/CategoriasLojasDadosDTO"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "x-api-resource": "CategoriasLojas",
                "x-api-action": "ObterMultiplos"
            },
            "post": {
                "tags": [
                    "Categorias - Lojas"
                ],
                "summary": "Cria o vínculo de uma categoria da loja com a de produto",
                "description": "Cria o vínculo de uma categoria da loja com a de produto.",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CategoriasLojasDadosDTO"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "$ref": "#/components/schemas/BasePostResponse"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    }
                },
                "x-api-resource": "CategoriasLojas",
                "x-api-action": "Criar"
            }
        },
        "/categorias/lojas/{idCategoriaLoja}": {
            "get": {
                "tags": [
                    "Categorias - Lojas"
                ],
                "summary": "Obtém uma categoria da loja vinculada a de produto",
                "description": "Obtém uma categoria da loja vinculada a de produto pelo ID.",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/idCategoriaLoja"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "$ref": "#/components/schemas/CategoriasLojasDadosDTO"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    }
                },
                "x-api-resource": "CategoriasLojas",
                "x-api-action": "Obter"
            },
            "put": {
                "tags": [
                    "Categorias - Lojas"
                ],
                "summary": "Altera o vínculo de uma categoria da loja com a de produto",
                "description": "Altera o vínculo de uma categoria da loja com a de produto pelo ID.",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/idCategoriaLoja"
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CategoriasLojasDadosDTO"
                            }
                        }
                    }
                },
                "responses": {
                    "204": {
                        "description": "No content."
                    },
                    "404": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    }
                },
                "x-api-resource": "CategoriasLojas",
                "x-api-action": "Alterar"
            },
            "delete": {
                "tags": [
                    "Categorias - Lojas"
                ],
                "summary": "Remove o vínculo de uma categoria da loja com a de produto",
                "description": "Remove o vínculo de uma categoria da loja com a de produto pelo ID.",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/idCategoriaLoja"
                    }
                ],
                "responses": {
                    "204": {
                        "description": "No content."
                    },
                    "404": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    }
                },
                "x-api-resource": "CategoriasLojas",
                "x-api-action": "Remover"
            }
        },
        "/categorias/produtos": {
            "get": {
                "tags": [
                    "Categorias - Produtos"
                ],
                "summary": "Obtém categorias de produtos",
                "description": "Obtém categorias de produtos paginadas.",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/pagina"
                    },
                    {
                        "$ref": "#/components/parameters/limite"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "allOf": [
                                                    {
                                                        "$ref": "#/components/schemas/CategoriasProdutosDadosDTO"
                                                    },
                                                    {
                                                        "properties": {
                                                            "categoriaPai": {
                                                                "$ref": "#/components/schemas/CategoriasProdutosCategoriPaiDTO"
                                                            }
                                                        },
                                                        "type": "object"
                                                    }
                                                ]
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "x-api-resource": "CategoriasProdutos",
                "x-api-action": "ObterMultiplos"
            },
            "post": {
                "tags": [
                    "Categorias - Produtos"
                ],
                "summary": "Cria uma categoria de produto",
                "description": "Cria uma categoria de produto.",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "allOf": [
                                    {
                                        "$ref": "#/components/schemas/CategoriasProdutosDadosDTO"
                                    },
                                    {
                                        "properties": {
                                            "categoriaPai": {
                                                "$ref": "#/components/schemas/CategoriasProdutosCategoriPaiDTO"
                                            }
                                        },
                                        "type": "object"
                                    }
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "$ref": "#/components/schemas/BasePostResponse"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    }
                },
                "x-api-resource": "CategoriasProdutos",
                "x-api-action": "Criar"
            }
        },
        "/categorias/produtos/{idCategoriaProduto}": {
            "get": {
                "tags": [
                    "Categorias - Produtos"
                ],
                "summary": "Obtém uma categoria de produto",
                "description": "Obtém uma categoria de produto pelo ID.",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/idCategoriaProduto"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "type": "object",
                                            "allOf": [
                                                {
                                                    "$ref": "#/components/schemas/CategoriasProdutosDadosDTO"
                                                },
                                                {
                                                    "properties": {
                                                        "categoriaPai": {
                                                            "$ref": "#/components/schemas/CategoriasProdutosCategoriPaiDTO"
                                                        }
                                                    },
                                                    "type": "object"
                                                }
                                            ]
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    }
                },
                "x-api-resource": "CategoriasProdutos",
                "x-api-action": "Obter"
            },
            "put": {
                "tags": [
                    "Categorias - Produtos"
                ],
                "summary": "Altera uma categoria de produto",
                "description": "Altera uma categoria de produto pelo ID.",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/idCategoriaProduto"
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CategoriasProdutosDadosDTO"
                            }
                        }
                    }
                },
                "responses": {
                    "204": {
                        "description": "No content."
                    },
                    "404": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    }
                },
                "x-api-resource": "CategoriasProdutos",
                "x-api-action": "Alterar"
            },
            "delete": {
                "tags": [
                    "Categorias - Produtos"
                ],
                "summary": "Remove uma categoria de produto",
                "description": "Remove uma categoria de produto pelo ID.",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/idCategoriaProduto"
                    }
                ],
                "responses": {
                    "204": {
                        "description": "No content."
                    },
                    "404": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    }
                },
                "x-api-resource": "CategoriasProdutos",
                "x-api-action": "Remover"
            }
        },
        "/categorias/receitas-despesas": {
            "get": {
                "tags": [
                    "Categorias - Receitas e Despesas"
                ],
                "summary": "Obtém categorias de receitas e despesas",
                "description": "Obtém categorias de receitas e despesas paginadas.",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/pagina"
                    },
                    {
                        "$ref": "#/components/parameters/limite"
                    },
                    {
                        "name": "tipo",
                        "in": "query",
                        "description": "`0` Todas<br>`1` Despesa<br>`2` Receita<br>`3` Receita e despesa",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "default": 0,
                            "enum": [
                                0,
                                1,
                                2,
                                3
                            ]
                        }
                    },
                    {
                        "name": "situacao",
                        "in": "query",
                        "description": "`0` Ativas e Inativas<br>`1` Ativas<br>`2` Inativas",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "default": 0,
                            "enum": [
                                0,
                                1,
                                2
                            ]
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "allOf": [
                                                    {
                                                        "$ref": "#/components/schemas/CategoriasReceitasDespesasDadosBaseDTO"
                                                    }
                                                ]
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "x-api-resource": "CategoriasReceitasDespesas",
                "x-api-action": "ObterMultiplos"
            },
            "post": {
                "tags": [
                    "Categorias - Receitas e Despesas"
                ],
                "summary": "Cria uma categoria de receita e despesa",
                "description": "Cria uma categoria de receita e despesa.",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "allOf": [
                                    {
                                        "$ref": "#/components/schemas/CategoriasReceitasDespesasDadosPostDTO"
                                    },
                                    {
                                        "$ref": "#/components/schemas/CategoriasReceitasDespesasDadosBaseDTO"
                                    }
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "$ref": "#/components/schemas/CategoriasReceitasDespesasDadosBaseDTO"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    }
                },
                "x-api-resource": "CategoriasReceitasDespesas",
                "x-api-action": "Criar"
            },
            "delete": {
                "tags": [
                    "Categorias - Receitas e Despesas"
                ],
                "summary": "Remove múltiplas categorias de receita e despesa",
                "description": "Remove múltiplas categorias de receita e despesa a partir de uma lista de IDs.",
                "parameters": [
                    {
                        "name": "idsCategorias[]",
                        "in": "query",
                        "description": "IDs das categorias a serem removidas",
                        "required": true,
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "integer"
                            },
                            "example": [
                                12345678,
                                87654321
                            ]
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "No content."
                    },
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "properties": {
                                                "alertas": {
                                                    "type": "array",
                                                    "items": {
                                                        "$ref": "#/components/schemas/ErrorResponse"
                                                    }
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "x-api-resource": "CategoriasReceitasDespesas",
                "x-api-action": "RemoverMultiplos"
            }
        },
        "/categorias/receitas-despesas/{idCategoria}": {
            "get": {
                "tags": [
                    "Categorias - Receitas e Despesas"
                ],
                "summary": "Obtém uma categoria de receita e despesa",
                "description": "Obtém uma categoria de receita e despesa pelo ID.",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/idCategoria"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "type": "object",
                                            "allOf": [
                                                {
                                                    "$ref": "#/components/schemas/CategoriasReceitasDespesasDadosBaseDTO"
                                                },
                                                {
                                                    "$ref": "#/components/schemas/CategoriasReceitasDespesasDadosDTO"
                                                }
                                            ]
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    }
                },
                "x-api-resource": "CategoriasReceitasDespesas",
                "x-api-action": "Obter"
            },
            "put": {
                "tags": [
                    "Categorias - Receitas e Despesas"
                ],
                "summary": "Atualiza uma categoria de receita e despesa",
                "description": "Atualiza uma categoria de receita e despesa a partir do ID.",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/idCategoria"
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "allOf": [
                                    {
                                        "$ref": "#/components/schemas/CategoriasReceitasDespesasDadosPostDTO"
                                    },
                                    {
                                        "$ref": "#/components/schemas/CategoriasReceitasDespesasDadosBaseDTO"
                                    }
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "$ref": "#/components/schemas/CategoriasReceitasDespesasDadosBaseDTO"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    }
                },
                "x-api-resource": "CategoriasReceitasDespesas",
                "x-api-action": "Alterar"
            },
            "delete": {
                "tags": [
                    "Categorias - Receitas e Despesas"
                ],
                "summary": "Remove uma categoria de receita e despesa",
                "description": "Remove uma categoria de receita e despesa pelo ID.",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/idCategoria"
                    }
                ],
                "responses": {
                    "204": {
                        "description": "No content."
                    },
                    "400": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    }
                },
                "x-api-resource": "CategoriasReceitasDespesas",
                "x-api-action": "Remover"
            }
        },
        "/contas-contabeis": {
            "get": {
                "tags": [
                    "Contas Financeiras"
                ],
                "summary": "Obtém contas financeiras",
                "description": "Obtém contas financeiras paginadas.",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/pagina"
                    },
                    {
                        "$ref": "#/components/parameters/limite"
                    },
                    {
                        "name": "ocultarInvisiveis",
                        "in": "query",
                        "description": "Oculta contas financeiras invisíveis",
                        "required": false,
                        "schema": {
                            "type": "boolean",
                            "example": true
                        }
                    },
                    {
                        "name": "ocultarTipoContaBancaria",
                        "in": "query",
                        "description": "Oculta contas financeiras do tipo conta bancária",
                        "required": false,
                        "schema": {
                            "type": "boolean",
                            "example": true
                        }
                    },
                    {
                        "name": "situacoes",
                        "in": "query",
                        "description": "Situação da conta financeira<br> `1` Ativo<br> `2` Inativo<br> `3` Pendente<br> `4` Cancelada",
                        "required": false,
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "integer",
                                "enum": [
                                    1,
                                    2,
                                    3,
                                    4
                                ]
                            }
                        }
                    },
                    {
                        "name": "aliasIntegracao",
                        "in": "query",
                        "description": "Alias da integração",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "example": "BlingPagamentos"
                        }
                    },
                    {
                        "name": "aliasIntegracao",
                        "in": "path",
                        "description": "Alias da integração",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "example": "BlingPagamentos"
                        }
                    },
                    {
                        "name": "ordenacao",
                        "in": "query",
                        "description": "Ordenação da obtenção pelos campos: <br> `descricao`",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "descricao",
                                "-descricao"
                            ],
                            "example": "descricao"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/ContasContabeisDadosDTO"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "x-api-resource": "ContasContabeis",
                "x-api-action": "ObterMultiplos"
            }
        },
        "/contas-contabeis/{idContaContabil}": {
            "get": {
                "tags": [
                    "Contas Financeiras"
                ],
                "summary": "Obtém uma conta financeira",
                "description": "Obtém uma conta financeira pelo ID.",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/idContaContabil"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "$ref": "#/components/schemas/ContasContabeisDadosDTO"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    }
                },
                "x-api-resource": "ContasContabeis",
                "x-api-action": "Obter"
            }
        },
        "/contas/receber": {
            "get": {
                "tags": [
                    "Contas a Receber"
                ],
                "summary": "Obtém contas a receber",
                "description": "Obtém contas a receber paginadas.",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/pagina"
                    },
                    {
                        "$ref": "#/components/parameters/limite"
                    },
                    {
                        "name": "situacoes[]",
                        "in": "query",
                        "description": "`1` Em aberto <br>`2` Recebido <br>`3` Parcialmente recebido <br>`4` Devolvido <br>`5` Cancelado",
                        "required": false,
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "integer"
                            },
                            "enum": [
                                1,
                                2,
                                3,
                                4,
                                5
                            ],
                            "example": [
                                1,
                                3
                            ]
                        }
                    },
                    {
                        "name": "tipoFiltroData",
                        "in": "query",
                        "description": "Referente ao campo que será considerado ao filtrar por data inicial e final<br>`E` Data de emissão <br> `V` Data de vencimento <br> `R` Data de recebimento",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "default": "E",
                            "enum": [
                                "E",
                                "V",
                                "R"
                            ]
                        }
                    },
                    {
                        "name": "dataInicial",
                        "in": "query",
                        "description": "Data inicial. Por padrão, um ano antes da data atual.",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "format": "date",
                            "example": "2022-01-01"
                        }
                    },
                    {
                        "name": "dataFinal",
                        "in": "query",
                        "description": "Data final. Por padrão, a data atual.",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "format": "date",
                            "example": "2023-01-01"
                        }
                    },
                    {
                        "name": "idsCategorias[]",
                        "in": "query",
                        "description": "IDs das categorias de receitas e despesas",
                        "required": false,
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "integer"
                            },
                            "example": [
                                12345678,
                                87654321
                            ]
                        }
                    },
                    {
                        "name": "idPortador",
                        "in": "query",
                        "description": "ID da conta financeira",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "example": 12345678
                        }
                    },
                    {
                        "name": "idContato",
                        "in": "query",
                        "description": "ID do contato",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "example": 12345678
                        }
                    },
                    {
                        "name": "idVendedor",
                        "in": "query",
                        "description": "ID do vendedor",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "example": 12345678
                        }
                    },
                    {
                        "name": "idFormaPagamento",
                        "in": "query",
                        "description": "ID da forma de pagamento",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "example": 12345678
                        }
                    },
                    {
                        "name": "boletoGerado",
                        "in": "query",
                        "description": "Obtém contas com ou sem boletos emitidos via integração, `0` para boletos não emitidos e `1` para boletos emitidos",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "enum": [
                                0,
                                1
                            ],
                            "example": 1
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/ContasReceberDadosListDTO"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "x-api-resource": "ContasReceber",
                "x-api-action": "ObterMultiplos"
            },
            "post": {
                "tags": [
                    "Contas a Receber"
                ],
                "summary": "Cria uma conta a receber",
                "description": "Cria uma conta a receber.",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "allOf": [
                                    {
                                        "$ref": "#/components/schemas/ContasDadosBaseDTO"
                                    },
                                    {
                                        "$ref": "#/components/schemas/ContasReceberDadosBaseDTO"
                                    },
                                    {
                                        "$ref": "#/components/schemas/ContasReceberDadosDTO"
                                    }
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "$ref": "#/components/schemas/BasePostResponse"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    }
                },
                "x-api-resource": "ContasReceber",
                "x-api-action": "Criar"
            }
        },
        "/contas/receber/{idContaReceber}": {
            "get": {
                "tags": [
                    "Contas a Receber"
                ],
                "summary": "Obtém uma conta a receber",
                "description": "Obtém uma conta a receber pelo ID.",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/idContaReceber"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "type": "object",
                                            "allOf": [
                                                {
                                                    "$ref": "#/components/schemas/ContasReceberDadosListDTO"
                                                },
                                                {
                                                    "$ref": "#/components/schemas/ContasReceberDadosBaseDTO"
                                                },
                                                {
                                                    "$ref": "#/components/schemas/ContasReceberDadosDTO"
                                                }
                                            ]
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    }
                },
                "x-api-resource": "ContasReceber",
                "x-api-action": "Obter"
            },
            "put": {
                "tags": [
                    "Contas a Receber"
                ],
                "summary": "Altera uma conta a receber",
                "description": "Altera uma conta a receber pelo ID.",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/idContaReceber"
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "allOf": [
                                    {
                                        "$ref": "#/components/schemas/ContasDadosBaseDTO"
                                    },
                                    {
                                        "$ref": "#/components/schemas/ContasReceberDadosBaseDTO"
                                    }
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "204": {
                        "description": "No content."
                    },
                    "404": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    }
                },
                "x-api-resource": "ContasReceber",
                "x-api-action": "Alterar"
            },
            "delete": {
                "tags": [
                    "Contas a Receber"
                ],
                "summary": "Remove uma conta a receber",
                "description": "Remove uma conta a receber pelo ID.",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/idContaReceber"
                    }
                ],
                "responses": {
                    "204": {
                        "description": "No content."
                    },
                    "400": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    }
                },
                "x-api-resource": "ContasReceber",
                "x-api-action": "Remover"
            }
        },
        "/contas/receber/{idContaReceber}/baixar": {
            "post": {
                "tags": [
                    "Contas a Receber"
                ],
                "summary": "Cria o recebimento de uma conta a receber",
                "description": "Cria o recebimento de uma conta a receber.",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/idContaReceber"
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/ContasBaixarContaDTO"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "bordero": {
                                            "properties": {
                                                "id": {
                                                    "type": "integer",
                                                    "example": 12345678
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    }
                },
                "x-api-resource": "ContasReceber",
                "x-api-action": "BaixarConta"
            }
        },
        "/contas/receber/boletos": {
            "get": {
                "tags": [
                    "Contas a Receber"
                ],
                "summary": "Obtém boletos de contas a receber",
                "description": "Obtém os boletos vinculados a um idOrigem, o qual corresponde ao ID de uma venda ou nota fiscal.",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/idOrigemContaReceber"
                    },
                    {
                        "$ref": "#/components/parameters/situacoesContaReceber"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ContasReceberBoletosDadosBaseDTO"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "",
                        "content": {
[...]
